.panels-flexible-17 .panels-flexible-region {
  padding: 0;
}

.panels-flexible-17 .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-17 .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-17 .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-17 .panels-flexible-column {
  padding: 0;
}

.panels-flexible-17 .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-17 .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-17 .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-17 .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-17 .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-17-1 {
  float: left;
  width: 14.9040%;
}

.panels-flexible-column-17-main {
  float: left;
  width: 84.0960%;
}

.panels-flexible-17-inside {
  padding-right: 0px;
}

.panels-flexible-17 {
  width: auto;
}

.panels-flexible-region-17-sidebar_left {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-17-2-inside {
  padding-right: 0px;
}

.panels-flexible-region-17-center {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-17-main-row-inside {
  padding-right: 0px;
}

