.pane-plain-box-temporary-81257a75157275507a8c4f4370733584 {
  margin-bottom: 10px;
  color: #649ca8;
  background-color: #FFFFFF;
}

.pane-plain-box-temporary-81257a75157275507a8c4f4370733584 h2 {
  color: #000000;
  background-color: #FFFFFF;
}
.pane-plain-box-temporary-81257a75157275507a8c4f4370733584 {
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}
