.pane-plain-box-temporary-e0d1d437c2985d5ce7babc4551ffe761 {
  margin-bottom: 10px;
  color: #303bad;
  background-color: #FFFFFF;
}

.pane-plain-box-temporary-e0d1d437c2985d5ce7babc4551ffe761 h2 {
  color: #000000;
  background-color: #FFFFFF;
}
.pane-plain-box-temporary-e0d1d437c2985d5ce7babc4551ffe761 {
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}
